[defaults]
inventory = inventory/localhost.yml
collections_path = ~/.ansible/collections:/usr/share/ansible/collections

[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url = https://your-automation-hub.example.com/api/galaxy/
# token = <set via env var ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN>

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/
